<div class="contact" [@fadeInOut]>
    <div class="contact__im">
        <img class="contact__img" src="../../../assets/_Y3A1749.jpg" alt="tony">
    </div>
    <div class="contact__b">
        <p class="contact__b__p" >Thanks for visiting my portfolio! I hope you have enjoyed the user experience and have been captivated by the projects that I have shared here. If you want to contact me, this page is the perfect place to do it. I will be happy to receive your message and answer your questions. Do not doubt to keep in touch with me!</p>
        <div class="btn">
            <a class="btn__active" href="./assets/Antonio M. Quintana Carrasco.pdf" download="Antonio M. Quintana Carrasco.pdf">Download resume</a>
        </div>
        <h5 class="cnttx">Contact here</h5>
        <div class="links">
            <a class="links__act" href="mailto:tonydeveloper92@gmail.com"><img class="imgbtn" src="./assets/gmail-logo-2561.svg" alt="mail"></a>
            <a class="links__act" href="https://www.linkedin.com/in/tonydeveloper/"> <img class="imgbtn" src="./assets/linkedin-ar21.svg" alt="linkedin"></a>
            <a class="links__act" href="https://github.com/TonyDev92"><img class="imgbtn" src="./assets/github.svg" alt="github"></a>
            <a class="links__act" href="tel:+34622939625">
                <span class="links__act__phone"> <img  class="phone" src="./assets/phone.svg" alt="phone"> + 34 622 939 625</span>
            </a>
        </div>
    </div>
</div>