<div class="home" [@fadeInOut]>
    <div class="home__title">
        <h1 class="home__title__a">TONY CARRASCO</h1>
        <div class="home__title">
            <h2 class="home__title__b">Full Stack Developer</h2>
        </div>
    </div>
    <div class="content">
        <p class="content__p">Developer with great analytical and problem-solving capacity, skilled in
            management of time and resources, with great leadership qualities and
            teamwork</p>
        <div class="btn">
            <button [routerLink]="['/about']" class="btn__active">About me</button>
        </div>
    </div>
</div>