.about{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    &__tle{
        font-family: 'Madinah';
        color: #00FFCA;
        text-align: center;
        margin-top: 5px;
    }
    &__container{
        display: flex;
        flex-direction: row;
    }
    &__txt{
        font-family: 'Quantify';
        color: #00FFCA;
        width: 70%;
        height: 100%;
        text-align: justify;
        font-size: 22px;
        margin: 1rem;
        &__in{
            margin: 2rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__img{
        width: 20%;
        height: 70vh;
        margin-left: 1rem;
        &__cnt{
            width: 100%;
            height: 100%;
            object-fit: cover;
    }
    }
}