<div class="container" [@fadeInOut]>
    <div class="container__desc">
        <p class="container__desc__txt">
            "Welcome to my projects page! In 2022 I made a brave decision to quit my job and follow my passion for programming. Here you can explore some of the work I've done with enthusiasm and dedication. I specialize in construction of responsive web pages and applications, using Agile and Scrum methodologies to deliver efficient results. Technology is my passion, and every line of code is an opportunity to create something amazing. I love what I do and I hope my projects reflect that passion! Explore, discover and immerse yourself in the exciting world of technology through my creations!"
        </p>
    </div>
    <div class="galery">
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">LUCKY</h2>
            <div class="galery__contents__in">
                <iframe class="galery__contents__vd" allow="autoplay;" allowfullscreen style="border:none"
                    src="https://clipchamp.com/watch/DuqRkR4tOoi/embed"></iframe>
            </div>
            
            <p class="content__txt" >
                Lucky is an application designed to facilitate and expedite the animal adoption process, efficiently connecting users interested in adopting with trusted animal protectors.
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/React.svg" alt="React" class="tech__logo">
                <img src="./assets/axios.svg" alt="Axios" class="tech__logo">
                <img src="./assets/Express.svg" alt="Express" class="tech__logo">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/Nodejs.svg" alt="NodeJS" class="tech__logo">
                <img src="./assets/nodemon.svg" alt="Nodemon" class="tech__logo">
                <img src="./assets/sass.svg" alt="sass" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
                <img src="./assets/Redux.png" alt="Redux" class="tech__logo">
                <img src="./assets/cloudinary.png" alt="Cloudinary" class="tech__logo">
                <img src="./assets/bcrypt-logo.png" alt="bcrypt" class="tech__logo">
                <img src="./assets/mongodb.svg" alt="mongodb" class="tech__logo">
                <img src="./assets/javascript.png" alt="javascript" class="tech__logo">
                <img src="./assets/jwt.png" alt="jwt" class="tech__logo">
                <img src="./assets/git.svg" alt="git" class="tech__logo">
                <h5 class="galery__contents__pl">JS-COOKIE</h5>
                <h5 class="galery__contents__pl">REDUX-THUNK</h5>
                <h5 class="galery__contents__pl">SWIPER</h5>
                <h5 class="galery__contents__pl">MULTER</h5>
                <h5 class="galery__contents__pl">CORS</h5>
            </div>
            <div class="nv">
                <span class="lnk">Links :</span>
                <a class="to"  href="https://github.com/TonyDev92/Lucky-Back"> Github repository (back-end)</a>
                <a class="to"  href="https://github.com/TonyDev92/Lucky-Front/tree/master">Github repository (front-end)</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">STAR WARS</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/starwars.png" (click)="openModal('./assets/starwars.png')" alt="starwars">
            </div>
            <p class="content__txt" >
                React web application that uses the Star Wars API to display interactive galleries of characters and organizations. It implements the i18next translation library to offer multilingual support. Explore and immerse yourself in the vast universe of Star Wars with this exciting app!
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/React.svg" alt="React" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
                <img src="./assets/javascript.png" alt="javascript" class="tech__logo">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/axios.svg" alt="Axios" class="tech__logo">
                <img src="./assets/sass.svg" alt="sass" class="tech__logo">
                <img src="./assets/i18next.svg" alt="i18next" class="tech__logo">
                <img src="./assets/git.svg" alt="git" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk">Links :</span>
                <a class="to"  href="https://github.com/TonyDev92/StarWars-React">Github repository</a>
                <a class="to"  href="https://star-wars-react-hyytt97tb-tonydev92.vercel.app/">Deployment</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">CLOCK</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/clock.png" (click)="openModal('./assets/clock.png')" alt="clock">
            </div>
            <p class="content__txt" >
                React clock with stopwatch and countdown. Manage time accurately and easily in this intuitive app.
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/React.svg" alt="React" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
                <img src="./assets/javascript.png" alt="javascript" class="tech__logo">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/sass.svg" alt="sass" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk" >Links :</span>
                <a class="to"  href="https://github.com/TonyDev92/clock">Github repository</a>
                <a class="to"  href="https://clock-r1z333irt-tonydev92.vercel.app/">Deployment</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">GAMES</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/games.png"  (click)="openModal('./assets/games.png')" alt="games">
            </div>
            <p class="content__txt" >
                Enjoy the excitement with our Angular-based game app. Find the treasure and hit the moles in challenging games that will test your skills and dexterity. Have the most of fun with 'Find the Treasure' and 'Whack-a-Mole'!
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/Angular.svg" alt="Angular" class="tech__logo">
                <img src="./assets/typescript.svg" alt="TypeScript" class="tech__logo">
                <img src="./assets/bcrypt-logo.png" alt="bcrypt" class="tech__logo">
                <img src="./assets/mongodb.svg" alt="mongodb" class="tech__logo">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/sass.svg" alt="sass" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk">Links :</span>
                <a class="to"  href="https://github.com/TonyDev92/Games-Proyect">Github repository</a>
                <a class="to"  href="https://games-proyect-rdx1622zm-tonydev92.vercel.app/">Deployment</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">Shopeame!</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/SHOPEAME.png" (click)="openModal('./assets/SHOPEAME.png')" alt="shopeame">
            </div>
            <p class="content__txt" >
                "Shopeame: Online sales app. Discover products and manage the catalog from our administration panel."
            </p>
            <div class="galery__contents__tp">
                <img src="../../../assets/Angular.svg" alt="Angular" class="tech__logo">
                <img src="../../../assets/typescript.svg" alt="TypeScript" class="tech__logo">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/sass.svg" alt="sass" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk" >Links :</span>
                <a class="to" href="https://github.com/TonyDev92/Shopeame-Angular">Github repository</a>
                <a class="to"  href="https://shopeame-backend-db32-2esx6jdz7-tonydev92.vercel.app/">Deployment</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">Echanges</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/Exchanges.png" (click)="openModal('./assets/Exchanges.png')" alt="exchanges">
            </div>
            <p class="content__txt" >
                Exchanges: Online app to view currency exchange. Query an API in real time to get up-to-date exchange rates.
            </p>
            <div class="galery__contents__tp">
                <img src="../../../assets/Angular.svg" alt="Angular" class="tech__logo">
                <img src="../../../assets/typescript.svg" alt="TypeScript" class="tech__logo">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/sass.svg" alt="sass" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk" >Links :</span>
                <a class="to"  href="https://github.com/TonyDev92/Exchanges">Github Repository</a>
                <a class="to"  href="https://exchanges-qb1tcbgee-tonydev92.vercel.app/">Deployment</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">MOVIES API</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/Api Movies.png" (click)="openModal('./assets/Api Movies.png')" alt="Api Movies">
            </div>
            <p class="content__txt" >
                A movies API with the /movies, /cinemas, and /user endpoints. Use Postman to test it and access information on movies, theaters and perform user registration and authentication actions.
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/Nodejs.svg" alt="NodeJS" class="tech__logo">
                <img src="./assets/nodemon.svg" alt="Nodemon" class="tech__logo">
                <img src="./assets/javascript.png" alt="javascript" class="tech__logo">
                <img src="./assets/Express.svg" alt="Express" class="tech__logo">
            <div class="nv">
                <span class="lnk" >Links :</span>
                <a class="to" href="https://github.com/TonyDev92/MoviesApi">Github repository</a>
                <a class="to"  href="https://movies-6yccbf3zv-tonydev92.vercel.app">Deployment</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">Games API</h2>
        </div>
        <div class="galery__contents__in">
            <img class="galery__contents__img" src="./assets/apigames.png" alt="gamesapi" (click)="openModal('./assets/apigames.png')">
        </div>
        <p class="content__txt" > 
            A secure gaming API with path restrictions and security measures. It uses CORS, JSON Web Token, and other security layers. The /games, /platforms, and /user endpoints are available. To test it, clone the repository, install the dependencies with 'npm i' and run 'npm run dev' in the project folder. I recommend using Postman to interact with the API.
        </p>
        <div class="galery__contents__tp">
            <img src="./assets/Nodejs.svg" alt="NodeJS" class="tech__logo">
            <img src="./assets/nodemon.svg" alt="Nodemon" class="tech__logo">
            <img src="./assets/javascript.png" alt="javascript" class="tech__logo">
            <img src="./assets/Express.svg" alt="Express" class="tech__logo">
            <img src="./assets/git.svg" alt="git" class="tech__logo">
            <img src="./assets/cloudinary.png" alt="Cloudinary" class="tech__logo">
            <img src="./assets/jwt.png" alt="jwt" class="tech__logo">
            <h5 class="galery__contents__pl">MULTER</h5>
            <h5 class="galery__contents__pl">CORS</h5>
        </div>
        <div class="nv">
            <span class="lnk" >Link :</span>
            <a class="to"  href="https://github.com/TonyDev92/gamesApi">Github repository</a>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">TODO LIST</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/todolist.png" (click)="openModal('./assets/todolist.png')" alt="TodoList">
            </div>
            <p class="content__txt" >
                App with Google Maps and OpenAI to generate pet names. Drag tasks, assign priorities and easily delete them. Organize your day while enjoying creative names for your adorable companions!
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/javascript.png" alt="javascript" class="tech__logo">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/sass.svg" alt="sass" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk" >Link :</span>
                <a class="to"  href="https://github.com/TonyDev92/TodoList">Github repository</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">POKEAPI</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/PokeApi.png" (click)="openModal('./assets/PokeApi.png')"  alt="PokeApi">
            </div>
            <p class="content__txt">
                Pokémon app with updated data. Explore and discover detailed information about different Pokémon using API consumption. Immerse yourself in the world of Pokémon and make use of the data provided for a complete experience.
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/javascript.png" alt="javascript" class="tech__logo">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/sass.svg" alt="sass" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk" >Links :</span>
                <a class="to"  href="https://github.com/TonyDev92/PokeApi">Github repository</a>
                <a class="to"  href="https://tonydev92.github.io/PokeApi/">Deployment</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">SLACK MOBILE</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/Slack.png" (click)="openModal('./assets/Slack.png')"  alt="Slack">
            </div>
            <p class="content__txt">
                HTML/CSS replica of Slack's mobile interface. Experience the convenience of Slack on your mobile device with this clone.
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/sass.svg" alt="sass" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk" >Links :</span>
                <a class="to"  href="https://github.com/TonyDev92/Slack-page-mobile-version">Github repository</a>
                <a class="to"  href="https://tonydev92.github.io/Slack-page-mobile-version/">Deployment (mobile)</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">BMW-HOME</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/BMW-Home.png" (click)="openModal('./assets/BMW-Home.png')" alt="BMW-Home">
            </div>
            <p class="content__txt" >
                HTML and CSS replica of the BMW home page. Discover the elegance and design of BMW in this functional recreation of its home page. Explore the BMW experience from your browser with this carefully developed clone.
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk" >Links :</span>
                <a class="to" href="https://github.com/TonyDev92/BMW-Homme-desktop-version">Github repository</a>
                <a class="to" href="https://tonydev92.github.io/BMW-Homme-desktop-version/">Deployment</a>
            </div>

        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">MY SHOP FLEX</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/Mi_tienda_flex.png" (click)="openModal('./assets/Mi_tienda_flex.png')" alt="Shop Flex">
            </div>
            <p class="content__txt" >
                Online store prototype on a single page. Discover a seamless and easy-to-use shopping experience with this attractive design in HTML and CSS.
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk">Links :</span>
                <a class="to"  href="https://github.com/TonyDev92/Mi_Tienda_Flex">Github repository</a>
                <a class="to" href="https://tonydev92.github.io/Mi_Tienda_Flex/">Deployment</a>
            </div>
        </div>
        <div class="galery__contents">
            <h2 class="galery__contents__ttle">Issuu Form</h2>
            <div class="galery__contents__in">
                <img class="galery__contents__img" src="./assets/Issu Register.png" (click)="openModal('./assets/Issu Register.png')"  alt="Issu Register">
            </div>
            <p class="content__txt" >
                HTML and CSS replica of the Issuu registration form. Experience the Issuu signup form layout with this accurate recreation.
            </p>
            <div class="galery__contents__tp">
                <img src="./assets/HTML.svg" alt="HTML" class="tech__logo">
                <img src="./assets/Css.svg" alt="Css" class="tech__logo">
            </div>
            <div class="nv">
                <span class="lnk" >Links :</span>
                <a class="to"  href="https://github.com/TonyDev92/Issuu-Register-Form">Github repository</a>
                <a class="to"  href="https://tonydev92.github.io/Issuu-Register-Form/">Deployment</a>
            </div>
        </div>
        <div class="modal" *ngIf="showModal">
            <div class="modal__content">
                <button class="modal__btn" (click)="closeModal()">X</button>
            </div>
            <div class="modal__img">
                <img class="modal__img__in" [src]="imgUrl" alt="modal">
            </div>
        </div>
    </div>
</div>
